<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-button routerLink="">Alert</ion-button>
<ion-button routerLink="">Action-sheet</ion-button>
<ion-button routerLink="">Regresar</ion-button>
</ion-content>
